<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226541264319-2k479k52o6ke9bba3mgnlg1smflqhjqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226541264319-2k479k52o6ke9bba3mgnlg1smflqhjqq</string>
	<key>API_KEY</key>
	<string>AIzaSyDW0vnkdpYh0biDlypc9_iWex2UJ4J7XQs</string>
	<key>GCM_SENDER_ID</key>
	<string>226541264319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.teknol.preto3</string>
	<key>PROJECT_ID</key>
	<string>preto3-d3fa9</string>
	<key>STORAGE_BUCKET</key>
	<string>preto3-d3fa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226541264319:ios:a52aedcf460cbb3e</string>
	<key>DATABASE_URL</key>
	<string>https://preto3-d3fa9.firebaseio.com</string>
</dict>
</plist>